<header>
    <div class="inner">
        <h1 class="logo"><a href="admin">Point business company</a></h1>
	</div>
    <nav>
        <ul class="sf-menu">
            <li><a href="admin">home</a></li>
            <li>
                <a href="labs">LABS</a>
                <ul>
                    <li><a href="labs">Lab1</a></li>
                    <li>
                        <a href="#">Lab2</a>
                        <ul>
                            <li><a href="#">Lab2-1</a></li>
                            <li><a href="#">Lab2-2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lab3</a></li>
                </ul>
            </li>
            <li><a href="project">Project</a></li>
            <li class="current"><a href="about">about</a></li>
            <li><a href="contact">contacts</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>
<!-- Content -->
<section id="content"><div class="ic"></div>
    <div class="container_24">
    	<div class="grid_24 content-border">
            <div class="top-row">
            	<h1 class="aligncenter">CS5551 Advanced Software Engineering </h1>
            </div>
            <div class="wrapper indent-top">
            	<article class="grid_23 prefix_1 alpha omega">
                    <h2>Our idea:</h2>
                    <h2>Team13</h2>
                    <h2>Meet our team:</h2>
                    <div class="wrapper">
                        <div class="grid_7 suffix_1 alpha">
                        	<figure class="img-indent">
                            	<img src="images/Hongkun001.jpg" alt="">
                            </figure>
                            <div class="extra-wrap">
                            	<p class="p1">CS 5551 Advanced Software Engineering, Team13, ClassID 20</p>
                                <div class="author">
                                	Hongkun Jin
									<em>TeamMember</em>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="grid_7 suffix_1">
                        	<figure class="img-indent">
                            	<img src="images/umkcK.png" alt="">
                            </figure>
                            <div class="extra-wrap">
                            	<p class="p1">CS 5551 Advanced Software Engineering, Team13, ClassID 14</p>
                                <div class="author">
                                	Jack Goza
									<em>TeamMember</em>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="hr-border-1"></div>
                    <div class="alignright pad-3">
                        <a href="#" class="link">read more</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<!--<aside>-->
	<!--<div class="container_24">-->
    	<!--<div class="wrapper">-->
        	<!--<div class="grid_24 aside-bg">-->
            	<!--<div class="wrapper">-->
                	<!--<article class="grid_14 suffix_1 prefix_1 alpha">-->
                    	<!--<h2>Testimonials:</h2>-->
                        <!--<div class="grid_7 alpha">-->
                            <!--<blockquote class="quote">-->
                                <!--<div class="inner">-->
                                    <!--Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus.-->
                                <!--</div>-->
                            <!--</blockquote>-->
                            <!--<div class="author alignright pad-4">-->
                                <!--April Black <span>( manager )</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="grid_7 omega">-->
                        	<!--<blockquote class="quote">-->
                                <!--<div class="inner">-->
                                    <!--Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus.-->
                                <!--</div>-->
                            <!--</blockquote>-->
                            <!--<div class="author alignright pad-4">-->
                                <!--Sandra Jobs <span>( manager )</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clear"></div>-->
                    <!--</article>-->
                    <!--<article class="grid_7 suffix_1 omega">-->
                    	<!--<h2>Features:</h2>-->
                        <!--<ol class="ol-list-1">-->
                        	<!--<li><a href="#">Vivamus hendrerit mauris ut dui</a></li> -->
                            <!--<li><a href="#">gravida ut viverra lectus tincidunt</a></li>-->
                            <!--<li><a href="#">Cras mattis tempor. eros nec tristique</a></li> -->
                            <!--<li><a href="#">Sed sed felis arcu, vel vehicula augue</a></li> -->
                            <!--<li><a href="#">Maecenas faucibus sagittis cursus</a></li>-->
                        <!--</ol>-->
                    <!--</article>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</aside>-->
<!-- Footer -->
<footer>
    <div class="copyright">
        <!--&copy; 2018 <strong class="footer-logo">Point business company</strong>-->
        &copy; 2018
        <div>Editing by <a href="https://github.com/MaxGolden" rel="nofollow">Max&Jack</a></div>
    </div>
    <ul class="social-list">
        <li><a href="#"><img src="images/social-link-1.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-2.jpg" alt=""></a></li>
    </ul>
</footer>