
<div id="wrapper">
  <div class="bgImg">
    <div class="blur"></div>
  </div>
  <div class="signOut" style="width: 40%;">
    <h1>Login</h1>
    <div class="container1" style="width: 90%;">
      <div>
<form (submit)="loginUser($event)">
  <input type="text" placeholder="Admin Username" id="username">  
  <input type="password" placeholder="Admin Password" id="password">
  <input type="submit" value="Submit">
</form>
</div>
<div>
<button (click)="socialSignIn('google')">Sign in with Google</button>  
    <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
</div>
    </div>
  </div>
