
<header>
    <div class="inner">
        <h1 class="logo"><a href="admin">LAB1 Web APP</a></h1>
	</div>
    <nav>
        <ul class="sf-menu">
            <li><a href="admin">home</a></li>
            <li>
                <a href="labs">LABS</a>
                <ul>
                    <li><a href="labs">Lab1</a></li>
                    <li>
                        <a href="#">Lab2</a>
                        <ul>
                            <li><a href="#">Lab2-1</a></li>
                            <li><a href="#">Lab2-2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lab3</a></li>
                </ul>
            </li>
            <li><a href="project">Project</a></li>
            <li><a href="about">about</a></li>
            <li class="current"><a href="contact">contacts</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>

<!-- Content -->
<section id="content"><div class="ic"></div>
    <div class="container_24">
    	<div class="grid_24 content-border">

            <div class="top-row">
            	<h1 class="aligncenter">CS5551 Advanced Software Engineering </h1>
            </div>
            <div class="wrapper indent-top">
            	<article class="grid_7 suffix_1 prefix_1 alpha">
                    <h2>Contact info:</h2>
                    <div class="map-container img-box">
                        <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=umkc,+Kansas+City,+MO,+United+States&amp;aq=0&amp;sll=39.033558,-94.5782146&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=39.033558,-94.5782146&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    </div>
                    <strong class="str-4">Team13</strong>
                    <dl class="address">
                        <dt>5100 Rockhill Rd, Kansas City, MO 64110</dt>
                        <dd><span>Telephone:</span><strong>+1 000 000 0011</strong></dd>
                        <dd><span>Fax:</span><strong>+1 000 000 0022</strong></dd>
                        <dd><span>Email:</span><a href="https://www.umkc.edu/">maxgold226@gmail.com</a></dd>
                    </dl>  
                </article>

                <article class="grid_14 suffix_1 omega">
                    <h2>Contact form:</h2>
                    <form id="contact-form" method="post">
                      <fieldset>
                        <label class="name">
                            <span>Full name:</span>
                            <input type="text">
                        </label>
                        <label class="email">
                          <span>Email:</span>
                          <input type="email">
                        </label>
                        <label class="message">
                          <span>Message:</span>	
                          <textarea></textarea>
                        </label>
                        <div class="btns">
                            <a class="link" onClick="document.getElementById('contact-form').reset()">Clear</a>
                            <a class="link" onClick="document.getElementById('contact-form').submit()">Send</a> 
                        </div>
                      </fieldset>
                    </form>
                </article>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="copyright">
        <!--&copy; 2018 <strong class="footer-logo">Point business company</strong>-->
        &copy; 2018
        <div>Editing by <a href="https://github.com/MaxGolden" rel="nofollow">Max&Jack</a></div>
    </div>
    <ul class="social-list">
        <li><a href="#"><img src="images/social-link-1.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-2.jpg" alt=""></a></li>
    </ul>
</footer>
