<!-- Header -->
<header>
    <div class="inner">
        <h1 class="logo"><a href="admin">Point business company</a></h1>
	</div>
    <nav>
        <ul class="sf-menu">
            <li><a href="admin">home</a></li>
            <li class="current">
                <a href="labs">labs</a>
                <ul>
                    <li><a href="labs">Lab1</a></li>
                    <li>
                        <a href="#">Lab2</a>
                        <ul>
                            <li><a href="#">Lab2-1</a></li>
                            <li><a href="#">Lab2-2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lab3</a></li>
                </ul>
            </li>
            <li><a href="project">Project</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contacts</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>

<!-- Content -->
<section id="content"><div class="ic"></div>
    <div class="container_24">
    	<div class="grid_24 content-border">

            <div class="top-row">
            	<h1 class="aligncenter">CS5551 Advanced Software Engineering </h1>
            </div>

            <div class="wrapper indent-top">
            	<article class="grid_23 prefix_1 alpha omega">
                    <h2>Lab1</h2>
                    <h4>Speech to Text</h4>
                    <div>
                    <div class="containerlab">
                        <div class="text-boxlab" contenteditable="true"></div>
                        <i class="fa fa-microphone"></i>
                    </div>
                    <audio class="sound" src="./chime.mp3"></audio>
                    </div>
                </article>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<aside>
	<div class="container_24">
    	<div class="wrapper">
        	<div class="grid_24 aside-bg">
            	<div class="wrapper">
                	<article class="grid_22 suffix_1 prefix_1 alpha omega">
                    	<h2>Features:</h2>
                        <div class="grid_15 alpha">
                            <div class="extra-wrap">
                            	<p>
                                	<strong>The main features of this lab are the OAuth and API</strong><br>
                                </p>
                            </div>
                        </div>
                        <div class="grid_7 omega">
							<ul class="list-1">
                            	<li><a href="#">OAuth</a></li>
                                <li><a href="#">Speech to Text</a></li>
                                <li><a href="#">Home page, about page and contact page</a></li>
                                <li><a href="#">GOOGLE map info in contact page</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</aside>


<!-- Footer -->
<footer>
    <div class="copyright">
        <!--&copy; 2018 <strong class="footer-logo">Point business company</strong>-->
        &copy; 2018
        <div>Editing by <a href="https://github.com/MaxGolden" rel="nofollow">Max&Jack</a></div>
    </div>
    <ul class="social-list">
        <li><a href="#"><img src="images/social-link-1.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-2.jpg" alt=""></a></li>
    </ul>
</footer>
