<!-- Header -->
<header>
    <div class="inner">
        <h1 class="logo"><a href="admin">Point business company</a></h1>
	</div>
    <nav>
        <ul class="sf-menu">
            <li><a href="admin">home</a></li>
            <li class="current">
                <a href="labs">labs</a>
                <ul>
                    <li><a href="labs">Lab1</a></li>
                    <li>
                        <a href="#">Lab2</a>
                        <ul>
                            <li><a href="#">Lab2-1</a></li>
                            <li><a href="#">Lab2-2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lab3</a></li>
                </ul>
            </li>
            <li class="current"><a href="project">project</a></li>
            <li><a href="about">about</a></li>
            <li><a href="contact">contacts</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>
<!-- Content -->
<section id="content"><div class="ic"></div>
    <div class="container_24">
    	<div class="grid_24 content-border">
            <div class="top-row">
            	<h1 class="aligncenter">CS5551 Advanced Software Engineering  </h1>
            </div>
            <div class="wrapper indent-top">
            	<article class="grid_15 suffix_1 prefix_1 alpha">
                	<h2>Our products:</h2>
                    <div class="p">
                    	<div class="grid_5 alpha">
                        	<figure class="img-indent-bot-1">
                            	<img src="images/page4-img1.jpg" alt="">
                            </figure>
                            <strong class="str-2 color-1">
                            	Project Task#1
                            </strong>
                            <p>
                            	No need
                            </p>
                            <div class="alignright">
                            	<a href="#" class="link">read more</a>
                            </div>
                        </div>

                    </div>
                </article>
                <article class="grid_6 omega">
                	<h2>Featured:</h2>

                </article>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="copyright">
        <!--&copy; 2018 <strong class="footer-logo">Point business company</strong>-->
        &copy; 2018
        <div>Editing by <a href="https://github.com/MaxGolden" rel="nofollow">Max&Jack</a></div>
    </div>
    <ul class="social-list">
        <li><a href="#"><img src="images/social-link-1.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-2.jpg" alt=""></a></li>
    </ul>
</footer>
